/* Resets */
html, body, ul, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: #5290FF; }

.logo {
  height: 50px;
  margin: 10px 0;
  padding: 0 10px;
  width: 200px; }

#webwatch {
  margin: 0 15px; }

.main {
  background: #5290FF; }

ul.tabs {
  list-style: none;
  overflow: auto; }
  ul.tabs li {
    float: left;
    list-style: none;
    margin-right: 15px;
    padding: 5px 10px; }
  ul.tabs li.active {
    background: #FF6C06; }
    ul.tabs li.active a {
      color: #fff; }

.entry {
  float: left;
  min-height: 150px;
  width: 50%; }
  .entry input {
    width: 100%; }
  .entry textarea {
    height: 200px;
    width: 100%; }

.submit {
  margin: 0 auto; }
  .submit span {
    background: #FF6C06;
    padding: 10px 15px;
    border-radius: 10px; }

.floatRight {
  float: right; }

.btn {
  border-radius: 10px;
  color: #fff; }
